.nav {
  display: flex;

  &_item {
    display: block;
    line-height: 20px;
    padding-bottom: 22px;
    position: relative;
    color: $textcolor;
    font-weight: 600;
    opacity: 0.6;
    text-transform: uppercase;
    transition: $transition;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background: transparent;
    }
    &:hover {
      opacity: 1;
    }
    &.is-active {
      opacity: 1;
      &::after {
        background: $main-gradient;
      }
    }
    & + .nav_item {
      margin-left: 36px;
    }
  }
}

@media (max-width: $media-sm) {
  .nav {
    &_item {
      font-size: 14px;
      padding-bottom: 16px;
    }
  }
}
