.card {
  padding: 56px 24px 24px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  &--withtop {
    padding-top: 24px;
  }
  &_top {
    margin-bottom: 10px;
    font-weight: 600;
    display: flex;
    &-share {
      flex: none;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 4px;
      }
    }
    &-hash {
      margin-left: 4px;
      background-color: $higlight;
      border-radius: 6px;
      overflow: hidden;
      padding: 4px;
      line-height: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &_text {
    margin-bottom: 44px;
    font-size: 36px;
    line-height: 44px;
    font-family: montserrat;
  }
  &_bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-author {
      margin-right: 12px;
      font-size: 14px;
      display: flex;
      align-items: center;
      .card_avatar {
        margin-right: 8px;
      }
    }
    &-share {
      font-size: 18px;
      color: $second;
      &:hover {
        text-decoration: underline;
      }
    }
    &-action,
    &-actions {
      display: flex;
      align-items: center;
      flex: none;
    }
    &-action {
      margin-left: 16px;
      .action-counter {
        padding-left: 8px;
        font-weight: 600;
      }
    }
  }
}
