.btn {
  width: 64px;
  height: 64px;
  color: #fff;
  background: $main-gradient;
  border-radius: 50%;
  display: inline-flex;
  cursor: pointer;

  &_icon {
    margin: auto;
    transition: $transition;
  }
  &:hover {
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.4);
    .btn_icon {
      transform: rotate(270deg);
    }
  }
  &:active {
    background-color: $accent;
  }
}

.link-btn {
  display: inline-flex;
  align-items: center;
  padding: 0;
  color: $accent;
  background-color: transparent;
  transition: $transition;
  cursor: pointer;
  .icon {
    margin-right: 8px;
  }
  &_text {
    line-height: 20px;
    text-decoration: underline;
    text-transform: capitalize;
  }
  &:hover {
    color: $textcolor;
  }
}

@media (max-width: $media-sm) {
  .btn {
    width: 48px;
    height: 48px;
  }
}
