.checkbox {
  &_label {
    margin: 0;
    position: relative;
    display: block;
    width: 40px;
    height: 24px;
    border: 1px solid $accent;
    border-radius: 12px;
    transition: $transition;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      left: 2px;
      top: 2px;
      background-color: $accent;
      pointer-events: none;
      transition: $transition;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .checkbox_label {
    background-color: $accent;
    &:after {
      left: calc(100% - 20px);
      background-color: #fff;
    }
  }
}
