.profile {
  padding: 72px 0 200px;
  &_grid {
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  &_info {
    margin-right: 46px;
    width: 350px;
    flex: none;
    position: sticky;
    top: 192px;
  }
  &_card {
    margin-bottom: 32px;
    display: flex;
    &-img {
      flex: none;
      margin-right: 24px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
    }
    &-name {
      margin: 0 0 8px;
      padding-right: 20px;
      font-family: montserrat;
      font-size: 24px;
      line-height: 25px;
      font-weight: 600;
    }
    &-nick {
      margin-bottom: 16px;
      line-height: 20px;
    }
    &-menu {
      right: 0;
      top: 0;
      &.dropdown {
        position: absolute;
      }
    }
  }
  &_statistic {
    margin-bottom: 24px;
    padding: 0;
    list-style: none;
    display: flex;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .number {
        font-weight: 700;
      }
      & + .profile_statistic-item {
        margin-left: 48px;
      }
    }
  }
  &_content {
    flex-grow: 1;
    &-switcher {
      margin-bottom: 62px;
      display: flex;
      font-size: 16px;
      font-weight: 600;
      .checkbox {
        margin: 0 30px;
      }
    }
    &-posts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(374px, 1fr));
      gap: 24px;
    }
  }
}

@media (max-width: $media-md) {
  .profile {
    padding: 32px 0 64px;
    &_grid {
      flex-wrap: wrap;
    }
    &_info {
      position: static;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &_card {
      &-img {
        margin-right: 12px;
        width: 100px;
        height: 100px;
      }
      &-name {
        font-size: 20px;
      }
      &-nick {
        margin-bottom: 12px;
      }
      &-menu {
        .dropdown_content {
          right: 0;
          left: auto;
        }
      }
    }
    &_content {
      &-switcher {
        margin-bottom: 24px;
      }
      &-posts {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 16px;
      }
    }
  }
}
